/*external css file*/


/* 0 0 0*/
* {
	color: yellow;
}

/*0 1 1*/
.paragraph span {
	color: inherit;
	font-weight: 800;
}

/* 1 0 0*/
#last-paragraph {
	color: indigo;
}
/*0 0 1*/
h1 {
	color: orange;
}

/*0 0 1*/
h2 {
	color: green;
}


/*0 1 0*/
.paragraph {
	color: tomato;
}

/*0 0 1*/
p {
	color: blue !important;
	background-color: yellow;
}
/*0 0 1*/
p {
	color: gray;

}


