/* external css*/

/* Tag selector */
p 
{
	color: red;
	font-size: 32px;
}

/* Tag selector */
p {
	color: brown;
	text-transform: uppercase;
}

/* id selector */
#secondary-header {
	text-transform: lowercase;
}

/* class selector */
.green-paragraph {
	color: green;
}

/* id selector */
#special-paragraph {
	color: orange;
}

